
/**字体定义开始**/
$font-size-super:24rem/12; //超级大标题
$font-size-large:22rem/12; //大标题
$font-size-h1:20rem/12; //一级标题
$font-size-h2:18rem/12; //二级标题
$font-size-h3:16rem/12; //三级标题
$font-size-body:14rem/12; // 主题字体
$font-size-body-small:13rem/12; //主题小字体
$font-size-assist:12rem/12; //辅助字体
$font-size-smallest:10rem/12; //辅助字体
/**字体定义结束**/

/**尺寸定义开始**/
$size-heigh-btn:36rem/12;
$size-input-btn:36rem/12;
$size-border-width:1rem/12;
